---
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';

const { member } = Astro.props;
---

<div
  class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade ${member.image ? 'md:grid-cols-2' : ''}`}
>
  <div
    class="relative aspect-[4/3.5] w-full overflow-hidden bg-gray-400 dark:bg-slate-700 rounded shadow-lg"
  >
    {
      member.image && (
        <Image
          src={member.image}
          class="absolute inset-0 w-full h-full object-cover rounded shadow-lg bg-gray-400 dark:bg-slate-700"
          objectPosition="center top"
          widths={[400, 800]}
          width={800}
          sizes="(max-width: 768px) 100vw, 50vw"
          alt={member.name}
          loading="lazy"
          decoding="async"
        />
      )
    }
  </div>
  <div class="md:mt-2">
    <header>
      <div class="mb-1">
        <span class="text-sm">
          {member.position}
        </span>
      </div>
      <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
        {member.name}
      </h2>
    </header>

    {member.description && <p class="flex-grow text-muted dark:text-slate-400 text-lg">{member.description}</p>}

    <ul class="flex gap-2 mt-4">
      {
        member.socialFacebook && (
          <li>
            <a
              class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Facebook"
              href={member.socialFacebook}
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
            </a>
          </li>
        )
      }
      {
        member.socialInstagram && (
          <li>
            <a
              class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Instagram"
              href={member.socialInstagram}
            >
              <Icon name="tabler:brand-instagram" class="w-5 h-5" />
            </a>
          </li>
        )
      }

      {
        member.socialLinkedIn && (
          <li>
            <a
              class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="LinkedIn"
              href={member.socialLinkedIn}
            >
              <Icon name="tabler:brand-linkedin" class="w-5 h-5" />
            </a>
          </li>
        )
      }

      {
        member.socialX && (
          <li>
            <a
              class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="X"
              href={member.socialX}
            >
              <Icon name="tabler:brand-x" class="w-5 h-5" />
            </a>
          </li>
        )
      }
    </ul>
  </div>
</div>
